<!-- <section class="pt-32 pb-16 bg-gray-50">
  <div class="container max-w-7xl mx-auto px-4">
    <h2
      class="mb-12 text-3xl md:text-4xl lg:text-5xl font-semibold text-green-600 text-center"
    >
      Shop Popular Categories
    </h2>

    <owl-carousel-o [options]="categoriesOption">
      @for (category of categoriesList; track category._id) {
      <ng-template carouselSlide [id]="category._id">
        <div
          class="border border-green-400/50 rounded-md shadow p-3 bg-white h-full flex flex-col"
        >
          <img
            [src]="category.image"
            [alt]="category.name"
            class="w-full h-[200px] object-cover rounded"
          />
          <h3 class="mt-3 text-center font-medium">{{ category.name }}</h3>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</section> -->
<section
  class="pt-16 pb-12 sm:pt-20 sm:pb-16 md:pt-24 md:pb-20 lg:pt-32 lg:pb-24 bg-gray-50"
>
  <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2
      class="mb-8 sm:mb-10 md:mb-12 text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-green-600 text-center"
    >
      Shop Popular Categories
    </h2>
    <owl-carousel-o [options]="categoriesOption">
      @for (category of categoriesList; track category._id) {
      <ng-template carouselSlide [id]="category._id">
        <div
          class="border border-green-400/50 rounded-md shadow p-2 sm:p-3 bg-white h-full flex flex-col mx-1 sm:mx-2"
        >
          <img
            [src]="category.image"
            [alt]="category.name"
            class="w-full h-32 sm:h-40 md:h-48 lg:h-52 xl:h-56 object-cover rounded"
          />
          <h3 class="mt-2 sm:mt-3 text-center font-medium text-sm sm:text-base">
            {{ category.name }}
          </h3>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</section>
